test --test_verbose_timeout_warnings
test --test_env=RUST_LOG=info
test --test_output=streamed
common --java_runtime_version=remotejdk_25
common --tool_java_runtime_version=remotejdk_25
common --java_header_compilation=false
common:rust_libtest_nocapture --test_arg=--nocapture

common:ci --lockfile_mode=error
common:ci --test_output=errors
common:ci --test_summary=short
common:ci --flaky_test_attempts=1
common:ci --show_progress_rate_limit=10
common:ci --test_env=RUST_LOG=warn
common:ci --show_timestamps
common:ci --verbose_failures
build:ci --keep_going

common --noremote_upload_local_results
common --remote_cache_compression
common --nolegacy_important_outputs

common:ci --remote_cache=grpcs://arena.buildbuddy.io
common:ci --remote_timeout=10m
common:ci --remote_upload_local_results
common:ci --bes_backend=grpcs://arena.buildbuddy.io
common:ci --bes_results_url=https://arena.buildbuddy.io/invocation/

try-import %workspace%/.bazelrc.user

coverage --combined_report=lcov
coverage --strategy=CoverageReport=local

common:coverage --config=ci
common:coverage --test_env=RUST_LOG=info

common:release --compilation_mode=opt
common:release --@rules_rust//rust/settings:extra_rustc_flag=-Cstrip=symbols
common:release --@rules_rust//rust/settings:lto=fat
common:release --@rules_rust//rust/settings:codegen_units=1
