test --test_verbose_timeout_warnings
test --test_env=RUST_LOG=info
test --test_output=streamed
common --java_runtime_version=remotejdk_21
common --tool_java_runtime_version=remotejdk_21
common --java_header_compilation=false
common:rust_libtest_nocapture --test_arg=--nocapture

common:remote-cache --remote_cache=grpcs://remote.buildbuddy.io
common:remote-cache --remote_header=x-buildbuddy-api-key=${env.BUILDBUDDY_API_KEY}
common:remote-cache --remote_upload_local_results=true
common:remote-cache --remote_download_outputs=minimal
common:remote-cache --noslim_profile

common:ci --test_output=errors
common:ci --test_summary=short
common:ci --flaky_test_attempts=1
common:ci --show_progress_rate_limit=10
common:ci --test_env=RUST_LOG=warn
common:ci --show_timestamps
common:ci --verbose_failures
common:ci --config=remote-cache
build:ci --keep_going
