/target
.idea/

arena-container/src/default_images.rs

.venv/
.venv-*/
venv/

**/*.egg-info/
**/__pycache__/
*.pyc
**/.pytest_cache/

/bazel-bin
/bazel-out
/bazel-testlogs
/bazel-arena
/bazel-*
/.bazelrc.user
/arena-junit/prebuilt/
